{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ range $pages.ByPublishDate.Reverse }}
  <p>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    {{ $customDateFormat := "January 2, 2006" }}
    {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <br>
    <small class="text-secondary">{{ .PublishDate.Format $customDateFormat }}</small>
    {{ partial "tags" . }}
    {{ if eq .Site.Params.showPostSummary true }}
    <br>
    {{ .Summary }}
    {{ end }}
  </p>
{{ end }}
<footer class="page-footer font-small special-color-dark fixed-bottom">
  <div class="footer-copyright text-center py-3">
      <img src="android-chrome-192x192.png" class="footer-logo error" width="40">
      © 2019 Copyright <a href="https://redislabs.com">Redis Labs</a>
  </div>
</footer>
