{{- define "main" -}}

{{ $homepage := "Home" }}
{{ with .Site.Menus.nav }}
  {{ range first 1 . }}
    {{ $homepage = .Name }}
  {{ end }}
{{ end }}
<h1>{{ $homepage }}</h1>

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ range $pages.ByPublishDate.Reverse }}
  <p>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>

    {{ $customDateFormat := "January 2, 2006" }}
    {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <br>
    <small class="text-secondary">{{- range .Params.authors }}{{ . }}{{ end }}</small> |
    <small class="text-secondary">{{ .PublishDate.Format $customDateFormat }}</small>

    {{ partial "tags" . }}
    {{ if eq .Site.Params.showPostSummary true }}
    <br>
    {{ .Summary }}
    {{ end }}
  </p>
{{ end }}

<footer>
  <div class="page-footer font-small stylish-color-dark fixed-bottom">
    <img src="/android-chrome-192x192.png" class="float-left footer-logo error" width="40">
    <p class="float-center">© 2019 Copyright:<a href="https://redislabs.com">Redis Labs</a></p>
  </div>
</footer>
{{- end -}}
