{{- define "main" -}}

<h1>{{ .Site.Params.Description }}</h1>
<blockquote class="blockquote">
  <p class="mb-0">Technical posts, by engineers, for engineers.</p>
</blockquote>

{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ range $pages.ByPublishDate.Reverse }}
  <p>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>

    {{ $customDateFormat := "January 2, 2006" }}
    {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <br>
    <small class="text-secondary">{{- range .Params.authors }}<a href="{{ .author.link }}">{{ .author.name }}</a>{{ end }}</small> |
    <small class="text-secondary">{{ .PublishDate.Format $customDateFormat }}</small>

    {{ partial "tags" . }}
    {{ if eq .Site.Params.showPostSummary true }}
    <br>
    {{ .Summary }}
    {{ end }}
  </p>
{{ end }}

{{- end -}}
